
/* HEADER STYLE */
.header{
    background-color: white;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
}

.header div {
    display: flex;
    align-items: center; /* Allinea verticalmente */
}

#logo{
    height: 40px;
}

h1 {
    margin-left: 10px;
    display: inline-block;
    font-weight: bold;
    vertical-align: middle;
}